.pagination {
	display: block;
	text-align: center;
	padding-bottom: 75px;
	.page-numbers {
		font-size: 1.25rem;
		font-family: Montserrat,sans-serif;
		padding: 0 3px;
		line-height: 1;
		margin: 0 5px;
		display: inline-block;
		h5 {
			font-family: Montserrat,sans-serif;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
